<div id="<%= dom_id create_lab_report %>">
  <p>
    <strong>User:</strong>
    <%= create_lab_report.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= create_lab_report.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= create_lab_report.description %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= create_lab_report.grade %>
  </p>

</div>
