<p style="color: green"><%= notice %></p>

<%= render @create_lab_report %>

<div>
  <%= link_to "Edit this create lab report", edit_create_lab_report_path(@create_lab_report) %> |
  <%= link_to "Back to create lab reports", create_lab_reports_path %>

  <%= button_to "Destroy this create lab report", @create_lab_report, method: :delete %>
</div>
