<%= form_with(model: lab_report, local: true) do |form| %>
  <% if lab_report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lab_report.errors.count, "error") %> prohibited this lab report from being saved:</h2>
      <ul>
        <% lab_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, "User", style: "display: block" %>
    <%= form.collection_select :user_id, User.all, :id, :email, prompt: "Select a user", class: "form-control" %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.select :grade, options_for_select(2..5), include_blank: 'Select grade', class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
